<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers accessPolicy="Read, Execute, Script">
      <!-- Point iisnode to Next.js standalone server entry -->
      <add name="iisnode" path=".next/standalone/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
		<!-- Redirect root / to /signin -->
        <rule name="RedirectRootToSignin" stopProcessing="true">
          <match url="^$" /> <!-- Only matches empty path "/" -->
          <action type="Redirect" url="/signin" redirectType="Permanent" />
        </rule>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^\.next/standalone/server.js\/debug[\/]?" />
        </rule>
        <!-- Serve static files directly if they exist -->
        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url=".next/standalone/server.js" />
        </rule>
        <!-- Explicitly allow Next.js static assets -->
        <rule name="NextStatic" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^_next/static/.*" />
          <action type="None" />
        </rule>
        <!-- Public assets (served directly) -->
        <rule name="PublicAssets" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^assets/.*" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" node_env="production" />
    <staticContent>
      <!-- Ensure common content types are recognized -->
	  <remove fileExtension=".json" />
	  <remove fileExtension=".map" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".map" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
